.bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 96rpx;
    background: #fff;
    border-top: 1px solid #e5e6eb;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24rpx;
}

.bottom-bar .summary {
    display: flex;
    flex-direction: column;
    font-size: 26rpx;
}

.bottom-bar .summary .price {
    font-size: 30rpx;
    font-weight: bold;
    color: #fa541c;
}

.cart-btn {
    background: #1677ff;
    color: #fff;
    padding: 16rpx 32rpx;
    border-radius: 40rpx;
    font-size: 28rpx;
}

.cart-btn.disabled {
    background: #ccc;
}